@model Arcgis.Directions.VM.GetPOIVM

@{

}

<script>
    function CallChangefunc(val)
    {
        window.location.href="/"+ val + "/Home/Index/";
    }

    require([
      "esri/urlUtils", "esri/map", "esri/dijit/Directions",
      "dojo/parser",
      "dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dojo/domReady!"
     ], function (
      urlUtils, Map, Directions,
      parser
    ) {
         parser.parse();

        var map = new Map("map", {
            basemap: "streets",
            center: [15.20, 45.10],
            sliderPosition: "top-right",
            zoom: 7
        });

        var directions = new Directions({
            map: map,
            routeTaskUrl: "@System.Configuration.ConfigurationManager.AppSettings["routeTaskUrl"]",
            directionsLengthUnits: "esriKilometers",
            optimalRoute: true,
            showOptimalRouteOption : true,
            showMilesKilometersOption : false,
            showSaveButton : true,
            showPrintPage : true,
            dragging : false,
            searchOptions: {
                sources: [
                     {
                         maxResults: 0,
                         maxSuggestions: 0,
                         enableSuggestions: false,
                         minCharacters: 0
                     }
                ]
            }
        }, "dir");

         directions.startup();

         directions.setDirectionsLanguage("hr-HR");

         directions.on("load", function () {

         });

         var countStops = 0;

         $("#keyword").autocomplete({
             source: function (request, response) {
                 $.ajax({
                     url: "/@Model.Langugae.Name/Home/GetPoiList",
                     data: "{ 'keywords': '" + request.term + "' }",
                     dataType: 'json',
                     type: "POST",
                     contentType: "application/json; charset=utf-8",
                     dataFilter: function (data) { return data; },
                     success: function (data) {
                         response($.map(data, function (item) {
                             return {
                                 label: item.PoiDesc,
                                 value: item.PoiDesc,
                                 id: item.PoiID
                             };
                         }))
                     }
                 });
             },
             minLength: 2,
             select: function (event, ui) {
                 $.ajax({
                     url: "/@Model.Langugae.Name/Home/GetPoiByID",
                     data: "{ 'id': '" + ui.item.id + "' }",
                     dataType: 'json',
                     type: "POST",
                     contentType: "application/json; charset=utf-8",
                     dataFilter: function (data) { return data; },
                     success: function (data) {
                         var stop = new esri.geometry.Point(data.WmX, data.WmY, new esri.SpatialReference({ wkid : @System.Configuration.ConfigurationManager.AppSettings["wkid"] }));
                         directions.addStop(stop, countStops);
                         $('#keyword').val('');
                         countStops++;
                     }
                 });
             }
         });

    });
</script> 

<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', gutters:false"  style="width:100%;height:100%;">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'" style="width:250px;">
        @Html.TextBoxFor(m => m.CusPoiInput.Name, new { @class = "form-control", @id = "keyword" })
        <div id="dir" dir="ltr"></div>
    </div>
    <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" dir="ltr"></div>
</div>

