@model Arcgis.Directions.VM.GetPOIVM

@{

}

<script>
    function CallChangefunc(val) {
        window.location.href = "/" + val + "/Home/Index/";
    }

    require([
      "esri/urlUtils", "esri/map", "esri/dijit/Directions",
      "dojo/parser",
      "dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dojo/domReady!"
    ], function (
      urlUtils, Map, Directions,
      parser
    ) {
        parser.parse();

        var map = new Map("map", {
            basemap: "streets",
            center: [15.20, 45.10],
            sliderPosition: "top-right",
            zoom: 7
        });

        var directions = new Directions({
            map: map,
            routeTaskUrl: "@System.Configuration.ConfigurationManager.AppSettings["routeTaskUrl"]",
            directionsLengthUnits: "esriKilometers",
            optimalRoute: true,
            showOptimalRouteOption: true,
            showMilesKilometersOption: false,
            showSaveButton: true,
            showPrintPage: true,
            dragging: false,
        }, "dir");

        directions.startup();

        directions.on("load", function () {

        });

        var countStops = 0;

        $("#keyword").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/@Model.Langugae.Name/Home/GetPoiList",
                    data: "{ 'keywords': '" + request.term + "' }",
                    dataType: 'json',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.PoiDesc,
                                value: item.PoiDesc,
                                id: item.PoiID
                            };
                        }))
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    url: "/@Model.Langugae.Name/Home/GetPoiByID",
                    data: "{ 'id': '" + ui.item.id + "' }",
                    dataType: 'json',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        directions.addStop(data.Address + " " + data.SettleName, countStops);
                        $('#keyword').val('');
                        countStops++;
                    }
                });
            }
        });

    });
</script>

<div class="page-container row-fluid"> 
    <div class="page-sidebar nav-collapse collapse">
        <ul>
            <li>
                <div class="sidebar-toggler hidden-phone"></div>
            </li>
            <li>
                <form class="sidebar-search">
                    <div class="input-box">
                       @Html.TextBoxFor(m => m.CusPoiInput.Name, new { @class = "form-control", @id = "keyword" })
                    </div>
                </form>
            </li>

            <li class="start ">
                <a href="index.html">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <!-- BEGIN WORLD PORTLET-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>World</div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"></a>
                                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="vmap_world" class="vmaps"></div>
                        </div>
                    </div>
                    <!-- END WORLD PORTLET-->
                </div>
            </div>
        </div>
    </div>
</div>

<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline', gutters:false" style="width:100%;height:100%">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'" style="width:250px;">
        <div id="dir" dir="ltr"></div>
    </div>
    <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" dir="ltr"></div>
</div>








