@model Arcgis.Directions.VM.GetPOIVM
@{
    Layout = "~/Views/Shared/_LayoutGdi.cshtml";
}

<script>
   
   
    function CallChangefunc(val) {
       
        window.location.href = "/" + val + "/Home/Index/";
        
        
    }
   
    require([
     "esri/urlUtils", "esri/map", "esri/dijit/Directions",
     "dojo/parser",
     "dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dojo/domReady!"
    ], function (
     urlUtils, Map, Directions,
     parser
   ) {
        parser.parse();

        var map = new Map("map", {
            basemap: "streets",
            center: [15.20, 45.10],
            autoResize:true,
            sliderPosition: "top-right",
            zoom: 4,
            lods: [
     //{ level: 0,  resolution: 156543.033928,  scale: 591657527.591555},
     //{ level: 1,   resolution: 78271.5169639999,   scale: 295828763.795777},
     //{ level: 2,  resolution: 39135.7584820001,  scale: 147914381.897889},
     { level: 3, resolution: 19567.8792409999,scale: 73957190.948944 },
     { level: 4, resolution: 9783.93962049996,scale: 36978595.474472 },
     { level: 5, resolution: 4891.96981024998,scale: 18489297.737236 },
     { level: 6, resolution: 2445.98490512499,scale: 9244648.868618 },
     { level: 7, resolution: 1222.99245256249, scale: 4622324.434309 },
     { level: 8, resolution: 611.49622628138, scale: 2311162.217155 },
     { level: 9, resolution: 305.748113140558, scale: 1155581.108577 },
     { level: 10, resolution: 152.874056570411, scale: 577790.554289 },
     { level: 11, resolution: 76.4370282850732, scale: 288895.277144 },
     { level: 12, resolution: 38.2185141425366, scale: 144447.638572 },
     { level: 13, resolution: 19.1092570712683,scale: 72223.819286 },
     { level: 14, resolution: 9.55462853563415, scale: 36111.909643 },
     { level: 15,  resolution: 4.77731426794937, scale: 18055.954822 },
     { level: 16, resolution: 2.38865713397468, scale: 9027.977411  },
     { level: 17, resolution: 1.19432856685505, scale: 4513.988705 },
     { level: 18, resolution: 0.597164283559817,scale: 2256.994353},
     { level: 19, resolution: 0.298582141647617,scale: 1128.497176},
     { level: 20, resolution: 0.1492910708238085, scale: 564.248587 },
     { level: 21, resolution: 0.0746455354119043, scale: 282.1242935 }
            ]
        });


        var directions = new Directions({
            map: map,
            routeTaskUrl: "@System.Configuration.ConfigurationManager.AppSettings["routeTaskUrl"]",
            directionsLengthUnits: "esriKilometers",
            optimalRoute: true,
        showOptimalRouteOption: true,
        showMilesKilometersOption: false,
        showSaveButton: true,
        showPrintPage: true,
        dragging: false,
        }, "dir");

    directions.startup();

    directions.on("load", function () {

    });
    $(window).load(function () {
        
        $('#Langugae_Name').css('background-color', '#333');
        $('#Langugae_Name').css('color', '#FFFFF');
        
        $('.esriRoutesContainer').css('height', '300px');
        
        if (window.location.href.indexOf("EN") > -1) {
            $('#languageText').text('Language');
            $('#lsLoggedInUser').text('Logout');
            $('#choosApp').text('Select app');
            $('#logoName').text('Gdi car control');
        }
        else {
            $('#languageText').text('Jezik');
            $('#lsLoggedInUser').text('Odjava');
            $('#choosApp').text('Odaberi aplikaciju');
            $('#logoName').text('Gdi auto nadzor');
        }
    });
    $('.esriDirectionsButton ').click(function () {

        $('.esriRoutesContainer').slimScroll({
            height:'583px',
            position: 'right',
            railVisible: true,
            alwaysVisible: true
        });
    });
    var countStops = 0;

    $("#keyword").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Request.Url.AbsoluteUri/@Model.Langugae.Name/Home/GetPoiList",
                data: "{ 'keywords': '" + request.term + "' }",
                dataType: 'json',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.PoiName,
                            value: item.PoiName,
                            id: item.PoiID
                        };
                    }))
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            $.ajax({
                url: "@Request.Url.AbsoluteUri/@Model.Langugae.Name/Home/GetPoiByID",
                data: "{ 'id': '" + ui.item.id + "' }",
                dataType: 'json',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    directions.addStop(data.Zip + " " + data.City + " " + data.Address + " " + data.HouseNoumber, countStops);
                    $('#keyword').val('');
                    countStops++;
                }
            });
        }
    });

    });
   
</script>

@Html.HiddenFor(m => m.CusPoiInput)
<div id="vmap_world" class="vmaps" style="height:100vh">
    <div id="map" dir="ltr"></div>
</div>


   