@model Arcgis.Directions.VM.GetPOIVM

@{
    
}

<script>
    function CallChangefunc(val) {
        window.location.href = "/" + val + "/Home/Index/";
    }

    require([
      "esri/urlUtils", "esri/map", "esri/dijit/Directions",
      "dojo/parser",
      "dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dojo/domReady!"
    ], function (
      urlUtils, Map, Directions,
      parser
    ) {
        parser.parse();

        var map = new Map("map", {
            basemap: "streets",
            center: [15.20, 45.10],
            sliderPosition: "top-right",
            zoom: 7
        });

        var directions = new Directions({
            map: map,
            routeTaskUrl: "@System.Configuration.ConfigurationManager.AppSettings["routeTaskUrl"]",
            directionsLengthUnits: "esriKilometers",
            optimalRoute: true,
            showOptimalRouteOption: true,
            showMilesKilometersOption: false,
            showSaveButton: true,
            showPrintPage: true,
            dragging: false,
        }, "dir");

        directions.startup();

        directions.on("load", function () {

        });

        var countStops = 0;

        $("#keyword").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/@Model.Langugae.Name/Home/GetPoiList",
                    data: "{ 'keywords': '" + request.term + "' }",
                    dataType: 'json',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.PoiDesc,
                                value: item.PoiDesc,
                                id: item.PoiID
                            };
                        }))
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    url: "/@Model.Langugae.Name/Home/GetPoiByID",
                    data: "{ 'id': '" + ui.item.id + "' }",
                    dataType: 'json',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        directions.addStop(data.Address + " " + data.SettleName, countStops);
                        $('#keyword').val('');
                        countStops++;
                    }
                });
            }
        });

    });
</script>

<div style="width:200px;height:500px"></div>


<div id="dir" dir="ltr" ></div>
<div id="map" dir="ltr" style="width:500px;height:500px"></div>

